/* .code {
  background-color: black;
  border-radius: 6px;
  color: #33ff00;
  margin: 10px 0;
  padding: 10px;
  white-space: pre-wrap;
} */

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
}

.message.user {
  background-color: #e0e0e0;
}

.message.gpt {
  background-color: #f0f8ff;
}

.message-content {
  white-space: pre-wrap;
}

/* .code {
  background-color: #1e1e1e;
  border-radius: 6px;
  color: #dcdcdc;
  margin: 10px 0;
  padding: 10px;
  white-space: pre-wrap;
} */

/* Estilização adicional para variáveis e funções */
/* .code .variable {
  color: #9cdcfe;
}

.code .function {
  color: #dcdcaa;
} */

.hljs,
.hljs-subst {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #e0e0e0;
  background-color: black;
}
